label {
    color: #666;
}

.big-input
{
    width: 100%; 
    border: 1px solid #222;
    padding: 8px 14px;
    font-size: 28px;
    background-color: #cecece;
    border-radius: 4px;
}

.small-input {
    display: inline-block;
    margin: 8px;
    width: 300px;
    font-size: 18px;
    background: #444;
    color: #ccc;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 8px;
}

.info {
    color: #666;
}
